body{
    margin: 0;
    font-size: 20px;
}

p{
    margin: 0;
    padding: 10px;
}

.bordered{
    border: 1px solid black;
}


header, footer{
    padding: 30px 10px 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C6D9F1;
}

#header-x{
    padding: 10px 40px;
    background-color: white;
}

#header-y{
    padding: 10px 40px 10px 0;
    background-color: white;
}

img{
    max-width: 100%;
    max-height: 100%;
}

#section-1{
    width: 40%;
}

main{
    display: flex;
}

#first-column{
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
}

#section-2{
    background-color: #EAF1DD;
}

#section-5{
    background-color: #FCE8D8;
    flex-grow: 1;
}



#second-column{
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
}

#section-3{
    flex-grow: 1;
    align-self: center;
}

#section-6{
    background-color: #EAF1DD;
}

#third-column{
    flex-basis: 20%;
    background-color: #FCE8D8;
}

#section-4{
    align-self: center;
}


#section-7{
    flex-basis: 40%;
}


