:root{
    --body-color: #494399;
    --footer-color: #333333;
    --rectangle-color: #2CCCC4;
}

*{
    margin: 0;
    padding: 0;
}


#background-color-wrapper{
    background-color: var(--body-color);
}

#width-wrapper{
    width: 70%;
    margin: auto;
    padding-top: 10px;
}

.icon-link{
    text-decoration: none;
}

#computer-img{
    width: 600px;
    position: relative;
    z-index: 2;
}

h1{
    font-family: "Trebuchet MS", sans-serif;
    font-weight: bolder;
    letter-spacing: 1px;
    font-size: 50px;
    z-index: 2;
    position: relative;
    margin-bottom: 17px;
}

#section-content{
    margin-top: 80px;
    margin-left: 55px;
}

em{
    font-size: 25px;
    color: #BABABB;
    font-family: 'Helvetica', sans-serif;
    font-style: normal;
}

header{
    display: flex;
    justify-content: space-between;
}

article{
    margin: 50px 0;
}

.article-text{
    margin-top: 10px;
    margin-left: 40px;
}

p{
    line-height: 21px;
    font-size: 13px;
}

h3{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
}

body{
    background-color: var(--footer-color);
    color: white;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    max-width: inherit;
}

footer {
    padding: 40px 0;
}

footer p{
    margin: auto;
    width: 30%;
    text-align: center;
}

.icon{
    width: 23px;
    height: 23px;
    margin: 0 3px;
}

#menu-icon{
    margin-right: 30px;
}

a{
    color: inherit;
}

.more-link{
    display: block;
    margin-top: 15px;
    font-size: 13px;
    text-decoration: underline;
    text-underline-position: under;
    opacity: 0.85;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#rectangle{
    height: 630px;
    width: 300px;
    background-color: var(--rectangle-color);
    position: absolute;
    z-index: 1;
    left: 25%;
}

#first-column{
    height: 630px;
}

#second-column{
    margin-top: 70px;
    margin-right: 100px;
}

.icon:hover{
    transition: transform .2s;
    transform: scale(1.2);
}

main{
    display: flex;
    column-gap: 60px;
}

@media (min-width: 3000px) {
    #rectangle{
        left: 20%;
    }
}

@media (min-width: 5000px) {
    #rectangle{
        left: 18%;
    }
}

@media (max-width: 1400px) {
    #width-wrapper{
        width: 90%;
    }

    #computer-img{
        width: 400px;
    }

    #rectangle{
        height: 550px;
        width: 220px;
        left: 20%;
    }

    #first-column{
        height: 550px;
    }

}


@media (max-width: 900px) {
    main{
        flex-direction: column;
    }

    h1{
        font-size: 40px;
    }

    #width-wrapper{
        width: 80%;
    }

    header{
        margin: 20px 0;
    }

    #computer-img{
        width: 400px;
    }

    #rectangle{
        height: 450px;
        width: 200px;
        left: 31%;
    }

    #first-column{
        height: 450px;
    }

    #second-column{
        margin: 0 30px 40px;
    }

    #section-content{
        margin-left: 10%;
    }

    footer p{
        width: 80%;
    }

    .article-text{
        margin-top: 10px;
        margin-left: 0;
    }

}

@media (max-width: 500px) {
    #width-wrapper{
        width: 80%;
    }

    #computer-img{
        width: 270px;
    }

    #rectangle{
        height: 360px;
        width: 150px;
        left: 31%;
    }
    #section-content{
        margin-left: 20px;
    }

    h1{
        font-size: 30px;
    }

    #first-column{
        height: 360px;
    }

}
